<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>window.location="/test/test.html";</script>
  </head>
  <body>
<!--
    <h1><%= title %></h1>
    <p>Welcome xxx to <%= title %></p>
-->
  </body>
</html>