<!DOCTYPE html>
<html>
<head>
    <title>网页重启工具</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/components/kendoui/jquery.min.js"></script>
	<script>
	function rc(url) {
	var d = new Date();
	    	$.ajax({ url: url + "?t=" + d.getTime(), 
						success: function(data){ 
						 alert("已经发送重启命令");
                        }
	});
	
	}

	</script>

</head>
<body>



<a href="#" onclick="rc('http://101.6.193.148:8097/rc/restartIE')">重启1号机(148)的IE<a> <br/> <br/> <br/>

<a href="#" onclick="rc('http://101.6.193.149:8097/rc/restartIE')">重启2号机(149)的IE<a> <br/> <br/> <br/>   

<a href="#" onclick="rc('http://101.6.193.147:8097/rc/restartIE')">重启3号机(147)的IE<a> <br/> <br/> <br/>   

<a href="#" onclick="rc('http://101.6.193.146:8097/rc/restartIE')">重启4号机(146)的IE<a> <br/> <br/> <br/>   

<br/>
</hr>
大门 </br>
1号&nbsp;&nbsp; 3号 </br>
2号&nbsp;&nbsp; 4号 </br>
楼梯

</body>
</html>