<!DOCTYPE html>
<html>
<head>
    <title>网页重启工具</title>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/components/kendoui/jquery.min.js"></script>
	<script>
	function rc(url) {
	    	$.ajax({ url: url, 
						success: function(data){ 
						 alert(data);
                        }
	});
	
	}

	</script>

</head>
<body>

<a href="#" onclick="rc('http://101.6.193.146:8097/rc/restartIE')">重启146的IE<a> <br/> <br/> <br/>   

<a href="#" onclick="rc('http://101.6.193.147:8097/rc/restartIE')">重启147的IE<a> <br/> <br/> <br/>   

<a href="#" onclick="rc('http://101.6.193.148:8097/rc/restartIE')">重启148的IE<a> <br/> <br/> <br/>

<a href="#" onclick="rc('http://101.6.193.149:8097/rc/restartIE')">重启149的IE<a> <br/> <br/> <br/>   
</body>
</html>